@font-face {
    font-family: 'digital';
    src:    url('../fonts/DS-DIGI.woff2') format('woff2'),
            url('../fonts/DS-DIGI.TTF')  format('truetype');
}

body {
    background-color: #132a3d;
    padding-top: 80px;
    font-family: "digital", "orbitron", sans-serif;
    color: lightskyblue;
    width: 100%;
}

.container {
    width: 600px;
    margin: 0 auto;
}

#mode-selection {
    font-size: 20px;
}



.clock {
    background-color: #132a3d;
    width: 600px;
    height: 400px;
    padding: 50px 0;
    margin: 0 auto;
}

.display {
    position: relative;
    background-color: #0f0f0f;
    width: 600px;
    height: 300px;
    margin: 0 auto;
}

.top-row {
    position: relative;
    width: 600px;
}

.weather-icon {
    position: absolute;
    font-size: 90px;
    padding-top: 5px;
    padding-left: 145px;
}

.location {
    position: absolute;
    font-size: 40px;
    top: 0px;
    margin-left: 248px;
}

.info-container {
    position: absolute;
    top: 0px;
    left: 245px;
}

.current-temp {
    position: absolute;
    font-size: 50px;
    top: 35px;
}

.min-max {
    position: absolute;
    width: 90px;
    left: 100px;
    top: 50px;
}

.min-max-boxes {
    position: relative;
    font-size: 12px;
}

.weather-text {
    position: absolute;
    top: 67px;
    left: 100px;
    width: 100px;
}

.time-display-row {
    position: relative;
}

.time-display {
    position: absolute;
    width: 300px;

    left: 160px;
    text-align: center;
}

.two-digit-block {
    font-size: 100px;
    width: 100px;
}

.separator {
    font-size: 80px;
    line-height: 140px;
    margin: 0 15px;
}

.small-digit-block {
    position: absolute;
    top: 15px;
    left: 250px;
    display: inline;
    font-size: 35px;
    width: 35px;
    line-height: 30px;
    margin-top: 20px;
}

.date-row {
    width: 400px;
    margin: 0 auto;
    font-size: 25px;
    padding-top: 155px;
}

sup {
    font-size: 14px;
}


.time-selection {
    left: -40px;
    font-size: 30px;


}

.time-selector {
    cursor: pointer;
    padding-top: 3px;
}

#break-selection {
    left: 290px;
    font-size: 14px;

}

#start {
    font-size: 30px;
    cursor: pointer;
}


.popover {
    background-color: #0f0f0f;
    color: lightskyblue;
}

